
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("../img/earth.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Custard', serif;
}


.contact{
    margin: 0 auto;
    color: rgb(233, 231, 208);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Coustard', serif; 
    font-size: 60px;
    transition: all 4s ease-in-out;
}

.contact-form{
    margin: 0 auto;
    padding-top: 300px;
   
}

.contact h1{
    font-size: 32px;
    line-height: 10px;
}

form{
    margin-top: 50px;

    transition: all 4s ease-in-out;
   
}

.form-control{
    width: 600px;
    background: black;
    opacity: 0.8;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background: rgb(61, 58, 15);
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background: rgb(94, 24, 24);
    cursor: pointer;
}


 @media only screen and (max-width: 1024px) {
    body {
        background-size: 220vh;
        }
      }


