/* body{
    background-image: url('../img/earth.jpg');

} */

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("../img/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Custard', serif;
    /* background-repeat: no-repeat; */
}


.contact{
    margin: 0 auto;
    /* margin-right: 47px; */
    color: rgb(233, 231, 208);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Coustard', serif; 
    font-size: 60px;
    transition: all 4s ease-in-out;
}

.contact-form{
    margin: 0 auto;
    padding-top: 300px;
    /* align-items: center; */
}

.contact h1{
    font-size: 32px;
    line-height: 10px;
}

form{
    margin-top: 50px;

    transition: all 4s ease-in-out;
    /* border-radius: 15px; */
}

.form-control{
    width: 600px;
    background: black;
    opacity: 0.8;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background: rgb(61, 58, 15);
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background: rgb(94, 24, 24);
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    .contact{
        text-align: center;
        padding-left: 36px;
    }

    .contact-form{
        padding-left: 10px;
        padding-right: 20px;
    }




    }

