#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: none;
}
body.design {
  background-image: url("../img/joanna-kosinska-129039-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 25% 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.design__content__spacer{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  color: #fff;
  font-family: sans-serif;
  margin: 0 0 0 0;
  text-transform: uppercase;
  width: auto;
  height: 100vh;
}
.design__heading {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  color: #fff;
  font-family: sans-serif;
  margin: 0 0 0 0;
  text-transform: uppercase;
  width: auto;
  height: 100vh;
}
.design__heading h1 {
  order: 1;
  position: relative;
  color: #fff;
  font-family: sans-serif;
  margin: 0 0 0 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}
.design__heading h4 {
  position: relative;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
}
.design__content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #fff;
  background: #564d46;
  padding: 2%;
  opacity: 1;
  font-size: 1.2rem;
  line-height: 2rem;
  height: 100%;
}

.design__content__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 83.5%;
}
.design__menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  padding: 4px 8px;
  background: #262626;
  cursor: pointer;
}

.design__menu-icon span {
  width: 100%;
  height: 4px;
  display: block;
  background: #fff;
  margin: 6px 0;
  transition: 0.5s;
}

.design__sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #262626;
  transition: 0.5s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.design__sidebar.active {
  left: 0;
}

.design__sidebar .menu {
  margin: 0;
  padding: 40px 0;
}

.design__sidebar .menu li {
  list-style: none;
  font-family: calibri regular;
  position: relative;
}

.design__sidebar .menu li a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.design__sidebar .menu li a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.design__sidebar .menu li a:hover::before {
  width: 100%;
}

.design__menu-icon.active {
  background: #fc2827;
  color: #fff;
}
.design__menu-icon.active span {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% - 8px);
}

.design__menu-icon.active span:nth-child(1) {
  transform: rotate(45deg);
}
.design__menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.design__menu-icon.active span:nth-child(2) {
  display: none;
}

.design__social-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 0 20px;
  box-sizing: border-box;
}
.design__social-icon li {
  width: 20%;
  text-align: center;
  list-style: none;
}

.design__social-icon li a {
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}

.design__social-icon li a:hover {
  background: #fc2827;
}

.design__logo2 {
  width: 100px;
  height: 100px;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  margin: 5rem 0 0 0;
  height: 24rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
