#particles-js {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 0.9;
}
body.inquiries {
  background-image: url("../img/nightsky.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 25% 13%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.inquiries__heading {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 0 0 0 0;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
.inquiries__heading h1 {
  order: 2;
  position: sticky;
  color: white;
  font-family: sans-serif;
  margin: 1rem 0 0 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  height: auto;
  width: 100vw;
}
.inquiries__heading h4 {
  order: 1;
  position: relative;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  min-height: 14px;
  height: auto;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.inquiries__heading h4 a {
  order: 1;
  text-decoration: none;
  position: relative;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-size: 14px;
}
.cta {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
  padding: 20px;
  color: white;
  background: rgba(5, 69, 122, 0.808);
  border-radius: 5%;
  border: solid rgba(109, 111, 128, 0.842) 1px;
}
.inquiries__menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 44px;
  padding: 4px 8px;
  background: #262626;
  cursor: pointer;
}

.inquiries__menu-icon span {
  width: 100%;
  height: 4px;
  display: block;
  background: #fff;
  margin: 6px 0;
  transition: 0.5s;
}

.inquiries__sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #262626;
  transition: 0.5s;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.inquiries__sidebar.active {
  left: 0;
}

.inquiries__sidebar .menu {
  margin: 0;
  padding: 40px 0;
}

.inquiries__sidebar .menu li {
  list-style: none;
  font-family: calibri regular;
  position: relative;
}

.inquiries__sidebar .menu li a {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.inquiries__sidebar .menu li a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.inquiries__sidebar .menu li a:hover::before {
  width: 100%;
}

.inquiries__menu-icon.active {
  background: #fc2827;
  color: #fff;
}
.inquiries__menu-icon.active span {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% - 8px);
}

.inquiries__menu-icon.active span:nth-child(1) {
  transform: rotate(45deg);
}
.inquiries__menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.inquiries__menu-icon.active span:nth-child(2) {
  display: none;
}

.inquiries__social-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  width: 0 20px;
  box-sizing: border-box;
}
.inquiries__social-icon li {
  width: 20%;
  text-align: center;
  list-style: none;
}

.inquiries__social-icon li a {
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}

.inquiries__social-icon li a:hover {
  background: #fc2827;
}

.inquiries__logo2 {
  width: 100px;
  height: 100px;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  margin: 5rem 0 0 0;
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideshow__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.slideshow__controls :hover {
  cursor: pointer;
}

.inquiries__img--carousel {
  width: 100%;
  max-height: 20rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.sticking {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.sticking h1,
.sticking h4 {
  color: white;
}

#prev,
#next {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}